article,
p {
    margin: 10px 0px;
}

footer {
    margin: 5px 0;
}

h1 {
    margin: 15px 0px 5px 0px;
}

#page_wrapper {
    width: 1000px;
    margin: 0 auto;
    background: url(../images/wrapper-bg.gif) repeat-y;
}

/**
 * global navigation w/ external links
 */
#global_nav {
    height: 20px;
    background-color: #012778;
    margin-bottom: 2px;
}

#global_nav .links {
    width: 980px;
    margin: auto;
}

#global_nav .links li {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#global_nav .links a {
    height: 16px;
    padding: 4px 12px 0 12px;

    display: block;
}

#global_nav .links a:hover {
    background: #2E58AC;
}

#global_nav .links .last {
    float: right;
}

/** 
 * Header Styles
 */
#page_wrapper header.page-header {
    width: 980px;
    height: 108px;

    margin:0 auto;

    background-color: #002878;
}

#page_wrapper header.page-header #logo {
    display: inline-block;
    margin: 27px 0 0 25px;
}

/**
 *  Main naviation styles
 */ 
#page_wrapper #main_nav {
    width: 978px;
    height: 27px;

    margin: 0 auto;
    padding: 0;

    border: 1px solid black;
    border-left: 1px solid #997300;
    border-right: 1px solid #997300;

    background-color: #CC9900;
}

#page_wrapper #main_nav ul {
    margin: 0 20px;
}

#page_wrapper #main_nav li {
    float: left;
    width: 135px;
    height: 28px;
}

#page_wrapper #main_nav li a {
    height: 28px;
    display: block;

    padding-top: 8px;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

#page_wrapper #main_nav ul>li:first-of-type {
    background-color: #E8E8E8;
    border: none;
    border-left: 1px solid #997300;
    border-right: 1px solid #997300;
}

/**
 *  Main Content Area
 */

 #page_wrapper #content {
    width: 940px;
    margin: 20px auto;
}

#main {
    float: left;
    width: 620px;
}

/**
 * Sidebar
 */
#sidebar {
    float: right;
    width: 300px;
    box-shadow: #aaa 0px 0px 7px;
}

#sidebar aside.widget {
    background-color: #F2F3F5;
    padding:5px;
}

#sidebar h3.widget-title {
    height: 18px;

    background-color: #BDBFC1;

    padding: 6px 10px 0;
    margin: 0 0 8px;
}

.widget ul li,
#monthly-archives li,
#category-archives li {
    padding: 5px;
    margin: 3px 0;
}

/**
 * Footer
 */

#page_wrapper footer {
    width: 980px;
    margin: 0 auto;
}

#page_wrapper footer #share_bar {
    height: 42px;
    background-color: #CC9900;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid #997300;
    border-right: 1px solid #997300;
}

#page_wrapper footer #links {
    background-color: #002878;
    height: 65px;
}



/**
 * article styles
 */
article.post,
#comments {
    background-color: #FFFFFF;

    padding: 5px;
    margin: 0 0 20px 0;

    box-shadow: #AAA 0px 0px 7px;
}

article header h1 {
    border-bottom: 2px solid #002878;
}

.post p.meta,
.post p.tags {
    display: inline-block;
}

.post p.meta {
    margin: 5px 0px 10px 0px;
}

.post p.tags {
    margin: 10px 0px 5px 0px;
}

.post-content p,
.post-excerpt p {
    margin: 10px 0px;
}

/**
 * Comments
 */
article.comment {
    margin: 10px 0;
    padding: 5px;

    /*border: 1px solid #666;*/
    clear: both;
}

.comment-meta {
    float: left;
}

.comment-content {
    float: left;
    max-width: 90%;

    margin: 0 0 0 10px;
}

.comment footer {
    clear: both;
}

.comment-list {
    border-bottom: 1px solid black;
}

.comment-list li{
    /*border-top: 1px solid black;*/
}

/**
 * Pagination Styles
 */
.nav-previous {
    float:left;
}

.nav-next {
    float: right;
}

#monthly-archives,
#category-archives {
    width: 45%;
    float:left;

    margin: 10px 0;
}


